{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - settings: Grid settings.
 *
 * @ingroup themeable
 */
#}

{% if content %}

  {% if settings.grid.layout.enable %}
    {% if settings.grid.layout.wrapper.enable %}<{{ settings.grid.layout.wrapper.tag }}{{ settings.grid.layout.wrapper.attributes }}>{% endif %}
    <{{ settings.grid.layout.tag }}{{ settings.grid.layout.attributes }}>
  {% endif %}

    {% if settings.grid.container.enable %}
      {% if settings.grid.container.wrapper.enable %}<{{ settings.grid.container.wrapper.tag }}{{ settings.grid.container.wrapper.attributes }}>{% endif %}
      <{{ settings.grid.container.tag }}{{ settings.grid.container.attributes }}>
    {% endif %}

      {% if settings.grid.rows.content.enable %}
        {% if settings.grid.rows.content.wrapper.enable %}<{{ settings.grid.rows.content.wrapper.tag }}{{ settings.grid.rows.content.wrapper.attributes }}>{% endif %}
        <{{ settings.grid.rows.content.tag }}{{ settings.grid.rows.content.attributes }}>
      {% endif %}

        {% if settings.grid.regions.content.enable %}
          {% if settings.grid.regions.content.wrapper.enable %}<{{ settings.grid.regions.content.wrapper.tag }}{{ settings.grid.regions.content.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.content.tag }}{{ settings.grid.regions.content.attributes }}>
        {% endif %}

          {{ content.content }}

        {% if settings.grid.regions.content.enable %}
          </{{ settings.grid.regions.content.tag }}>
          {% if settings.grid.regions.content.wrapper.enable %}</{{ settings.grid.regions.content.wrapper.tag }}>{% endif %}
        {% endif %}

      {% if settings.grid.rows.content.enable %}
        </{{ settings.grid.rows.content.tag }}>
        {% if settings.grid.rows.content.wrapper.enable %}</{{ settings.grid.rows.content.wrapper.tag }}>{% endif %}
      {% endif %}

    {% if settings.grid.container.enable %}
      </{{ settings.grid.container.tag }}>
      {% if settings.grid.container.wrapper.enable %}</{{ settings.grid.container.wrapper.tag }}>{% endif %}
    {% endif %}

  {% if settings.grid.layout.enable %}
    </{{ settings.grid.layout.tag }}>
    {% if settings.grid.layout.wrapper.enable %}</{{ settings.grid.layout.wrapper.tag }}>{% endif %}
  {% endif %}

{% endif %}
