{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - settings: Grid settings.
 *
 * @ingroup themeable
 */
#}

{% if content %}

  {% if settings.grid.layout.enable %}
    {% if settings.grid.layout.wrapper.enable %}<{{ settings.grid.layout.wrapper.tag }}{{ settings.grid.layout.wrapper.attributes }}>{% endif %}
    <{{ settings.grid.layout.tag }}{{ settings.grid.layout.attributes }}>
  {% endif %}

    {% if settings.grid.container.enable %}
      {% if settings.grid.container.wrapper.enable %}<{{ settings.grid.container.wrapper.tag }}{{ settings.grid.container.wrapper.attributes }}>{% endif %}
      <{{ settings.grid.container.tag }}{{ settings.grid.container.attributes }}>
    {% endif %}

      {% if settings.grid.rows.content.enable %}
        {% if settings.grid.rows.content.wrapper.enable %}<{{ settings.grid.rows.content.wrapper.tag }}{{ settings.grid.rows.content.wrapper.attributes }}>{% endif %}
        <{{ settings.grid.rows.content.tag }}{{ settings.grid.rows.content.attributes }}>
      {% endif %}

        {% if settings.grid.regions.first.enable %}
          {% if settings.grid.regions.first.wrapper.enable %}<{{ settings.grid.regions.first.wrapper.tag }}{{ settings.grid.regions.first.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.first.tag }}{{ settings.grid.regions.first.attributes }}>
        {% endif %}

          {{ content.first }}

        {% if settings.grid.regions.first.enable %}
          </{{ settings.grid.regions.first.tag }}>
          {% if settings.grid.regions.first.wrapper.enable %}</{{ settings.grid.regions.first.wrapper.tag }}>{% endif %}
        {% endif %}

        {% if settings.grid.regions.second.enable %}
          {% if settings.grid.regions.second.wrapper.enable %}<{{ settings.grid.regions.second.wrapper.tag }}{{ settings.grid.regions.second.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.second.tag }}{{ settings.grid.regions.second.attributes }}>
        {% endif %}

          {{ content.second }}

        {% if settings.grid.regions.second.enable %}
          </{{ settings.grid.regions.second.tag }}>
          {% if settings.grid.regions.second.wrapper.enable %}</{{ settings.grid.regions.second.wrapper.tag }}>{% endif %}
        {% endif %}

        {% if settings.grid.regions.third.enable %}
          {% if settings.grid.regions.third.wrapper.enable %}<{{ settings.grid.regions.third.wrapper.tag }}{{ settings.grid.regions.third.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.third.tag }}{{ settings.grid.regions.third.attributes }}>
        {% endif %}

          {{ content.third }}

        {% if settings.grid.regions.third.enable %}
          </{{ settings.grid.regions.third.tag }}>
          {% if settings.grid.regions.third.wrapper.enable %}</{{ settings.grid.regions.third.wrapper.tag }}>{% endif %}
        {% endif %}

        {% if settings.grid.regions.fourth.enable %}
          {% if settings.grid.regions.fourth.wrapper.enable %}<{{ settings.grid.regions.fourth.wrapper.tag }}{{ settings.grid.regions.fourth.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.fourth.tag }}{{ settings.grid.regions.fourth.attributes }}>
        {% endif %}

          {{ content.fourth }}

        {% if settings.grid.regions.fourth.enable %}
          </{{ settings.grid.regions.fourth.tag }}>
          {% if settings.grid.regions.fourth.wrapper.enable %}</{{ settings.grid.regions.fourth.wrapper.tag }}>{% endif %}
        {% endif %}

      {% if settings.grid.rows.content.enable %}
        </{{ settings.grid.rows.content.tag }}>
        {% if settings.grid.rows.content.wrapper.enable %}</{{ settings.grid.rows.content.wrapper.tag }}>{% endif %}
      {% endif %}

    {% if settings.grid.container.enable %}
      </{{ settings.grid.container.tag }}>
      {% if settings.grid.container.wrapper.enable %}</{{ settings.grid.container.wrapper.tag }}>{% endif %}
    {% endif %}

  {% if settings.grid.layout.enable %}
    </{{ settings.grid.layout.tag }}>
    {% if settings.grid.layout.wrapper.enable %}</{{ settings.grid.layout.wrapper.tag }}>{% endif %}
  {% endif %}

{% endif %}
