{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - settings: Grid settings.
 *
 * @ingroup themeable
 */
#}

{% if content %}

  {% if settings.grid.layout.enable %}
    {% if settings.grid.layout.wrapper.enable %}<{{ settings.grid.layout.wrapper.tag }}{{ settings.grid.layout.wrapper.attributes }}>{% endif %}
    <{{ settings.grid.layout.tag }}{{ settings.grid.layout.attributes }}>
  {% endif %}

    {% if settings.grid.container.enable %}
      {% if settings.grid.container.wrapper.enable %}<{{ settings.grid.container.wrapper.tag }}{{ settings.grid.container.wrapper.attributes }}>{% endif %}
      <{{ settings.grid.container.tag }}{{ settings.grid.container.attributes }}>
    {% endif %}

      {% if settings.grid.rows.top.enable %}
        {% if settings.grid.rows.top.wrapper.enable %}<{{ settings.grid.rows.top.wrapper.tag }}{{ settings.grid.rows.top.wrapper.attributes }}>{% endif %}
        <{{ settings.grid.rows.top.tag }}{{ settings.grid.rows.top.attributes }}>
      {% endif %}

        {% if settings.grid.regions.top.enable %}
          {% if settings.grid.regions.top.wrapper.enable %}<{{ settings.grid.regions.top.wrapper.tag }}{{ settings.grid.regions.top.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.top.tag }}{{ settings.grid.regions.top.attributes }}>
        {% endif %}

          {{ content.top }}

        {% if settings.grid.regions.top.enable %}
          </{{ settings.grid.regions.top.tag }}>
          {% if settings.grid.regions.top.wrapper.enable %}</{{ settings.grid.regions.top.wrapper.tag }}>{% endif %}
        {% endif %}

      {% if settings.grid.rows.top.enable %}
        </{{ settings.grid.rows.top.tag }}>
        {% if settings.grid.rows.top.wrapper.enable %}</{{ settings.grid.rows.top.wrapper.tag }}>{% endif %}
      {% endif %}

      {% if settings.grid.rows.above.enable %}
        {% if settings.grid.rows.above.wrapper.enable %}<{{ settings.grid.rows.above.wrapper.tag }}{{ settings.grid.rows.above.wrapper.attributes }}>{% endif %}
        <{{ settings.grid.rows.above.tag }}{{ settings.grid.rows.above.attributes }}>
      {% endif %}

        {% if settings.grid.regions.first_above.enable %}
          {% if settings.grid.regions.first_above.wrapper.enable %}<{{ settings.grid.regions.first_above.wrapper.tag }}{{ settings.grid.regions.first_above.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.first_above.tag }}{{ settings.grid.regions.first_above.attributes }}>
        {% endif %}

          {{ content.first_above }}

        {% if settings.grid.regions.first_above.enable %}
          </{{ settings.grid.regions.first_above.tag }}>
          {% if settings.grid.regions.first_above.wrapper.enable %}</{{ settings.grid.regions.first_above.wrapper.tag }}>{% endif %}
        {% endif %}

        {% if settings.grid.regions.second_above.enable %}
          {% if settings.grid.regions.second_above.wrapper.enable %}<{{ settings.grid.regions.second_above.wrapper.tag }}{{ settings.grid.regions.second_above.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.second_above.tag }}{{ settings.grid.regions.second_above.attributes }}>
        {% endif %}

          {{ content.second_above }}

        {% if settings.grid.regions.second_above.enable %}
          </{{ settings.grid.regions.second_above.tag }}>
          {% if settings.grid.regions.second_above.wrapper.enable %}</{{ settings.grid.regions.second_above.wrapper.tag }}>{% endif %}
        {% endif %}

      {% if settings.grid.rows.above.enable %}
        </{{ settings.grid.rows.above.tag }}>
        {% if settings.grid.rows.above.wrapper.enable %}</{{ settings.grid.rows.above.wrapper.tag }}>{% endif %}
      {% endif %}

      {% if settings.grid.rows.middle.enable %}
        {% if settings.grid.rows.middle.wrapper.enable %}<{{ settings.grid.rows.middle.wrapper.tag }}{{ settings.grid.rows.middle.wrapper.attributes }}>{% endif %}
        <{{ settings.grid.rows.middle.tag }}{{ settings.grid.rows.middle.attributes }}>
      {% endif %}

        {% if settings.grid.regions.middle.enable %}
          {% if settings.grid.regions.middle.wrapper.enable %}<{{ settings.grid.regions.middle.wrapper.tag }}{{ settings.grid.regions.middle.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.middle.tag }}{{ settings.grid.regions.middle.attributes }}>
        {% endif %}

          {{ content.middle }}

        {% if settings.grid.regions.middle.enable %}
          </{{ settings.grid.regions.middle.tag }}>
          {% if settings.grid.regions.middle.wrapper.enable %}</{{ settings.grid.regions.middle.wrapper.tag }}>{% endif %}
        {% endif %}

      {% if settings.grid.rows.middle.enable %}
        </{{ settings.grid.rows.middle.tag }}>
        {% if settings.grid.rows.middle.wrapper.enable %}</{{ settings.grid.rows.middle.wrapper.tag }}>{% endif %}
      {% endif %}

      {% if settings.grid.rows.below.enable %}
        {% if settings.grid.rows.below.wrapper.enable %}<{{ settings.grid.rows.below.wrapper.tag }}{{ settings.grid.rows.below.wrapper.attributes }}>{% endif %}
        <{{ settings.grid.rows.below.tag }}{{ settings.grid.rows.below.attributes }}>
      {% endif %}

        {% if settings.grid.regions.first_below.enable %}
          {% if settings.grid.regions.first_below.wrapper.enable %}<{{ settings.grid.regions.first_below.wrapper.tag }}{{ settings.grid.regions.first_below.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.first_below.tag }}{{ settings.grid.regions.first_below.attributes }}>
        {% endif %}

          {{ content.first_below }}

        {% if settings.grid.regions.first_below.enable %}
          </{{ settings.grid.regions.first_below.tag }}>
          {% if settings.grid.regions.first_below.wrapper.enable %}</{{ settings.grid.regions.first_below.wrapper.tag }}>{% endif %}
        {% endif %}

        {% if settings.grid.regions.second_below.enable %}
          {% if settings.grid.regions.second_below.wrapper.enable %}<{{ settings.grid.regions.second_below.wrapper.tag }}{{ settings.grid.regions.second_below.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.second_below.tag }}{{ settings.grid.regions.second_below.attributes }}>
        {% endif %}

          {{ content.second_below }}

        {% if settings.grid.regions.second_below.enable %}
          </{{ settings.grid.regions.second_below.tag }}>
          {% if settings.grid.regions.second_below.wrapper.enable %}</{{ settings.grid.regions.second_below.wrapper.tag }}>{% endif %}
        {% endif %}

      {% if settings.grid.rows.below.enable %}
        </{{ settings.grid.rows.below.tag }}>
        {% if settings.grid.rows.below.wrapper.enable %}</{{ settings.grid.rows.below.wrapper.tag }}>{% endif %}
      {% endif %}

      {% if settings.grid.rows.bottom.enable %}
        {% if settings.grid.rows.bottom.wrapper.enable %}<{{ settings.grid.rows.bottom.wrapper.tag }}{{ settings.grid.rows.bottom.wrapper.attributes }}>{% endif %}
        <{{ settings.grid.rows.bottom.tag }}{{ settings.grid.rows.bottom.attributes }}>
      {% endif %}

        {% if settings.grid.regions.bottom.enable %}
          {% if settings.grid.regions.bottom.wrapper.enable %}<{{ settings.grid.regions.bottom.wrapper.tag }}{{ settings.grid.regions.bottom.wrapper.attributes }}>{% endif %}
          <{{ settings.grid.regions.bottom.tag }}{{ settings.grid.regions.bottom.attributes }}>
        {% endif %}

          {{ content.bottom }}

        {% if settings.grid.regions.bottom.enable %}
          </{{ settings.grid.regions.bottom.tag }}>
          {% if settings.grid.regions.bottom.wrapper.enable %}</{{ settings.grid.regions.bottom.wrapper.tag }}>{% endif %}
        {% endif %}

      {% if settings.grid.rows.bottom.enable %}
        </{{ settings.grid.rows.bottom.tag }}>
        {% if settings.grid.rows.bottom.wrapper.enable %}</{{ settings.grid.rows.bottom.wrapper.tag }}>{% endif %}
      {% endif %}

    {% if settings.grid.container.enable %}
      </{{ settings.grid.container.tag }}>
      {% if settings.grid.container.wrapper.enable %}</{{ settings.grid.container.wrapper.tag }}>{% endif %}
    {% endif %}

  {% if settings.grid.layout.enable %}
    </{{ settings.grid.layout.tag }}>
    {% if settings.grid.layout.wrapper.enable %}</{{ settings.grid.layout.wrapper.tag }}>{% endif %}
  {% endif %}

{% endif %}
